<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Khassida Songs List</h4>
      </div>
      <div class="pull-right mt-4 ml-4">
        <a  class="btn btn-round btn-secondary"
        (click)="addKhassidaSong();"
        >Add Khassida Song</a>
      </div>
      <div class="card-body">
        <!--        <div class="alert alert-success" *ngIf="message">{{message.message}}</div>-->
<!--        <div class="alert alert-success" *ngIf="deletionMessage">{{deletionMessage.message}}</div>-->

        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
            <th>
              Id
            </th>
            <th>
              Name
            </th>
            <th>
              Audio
            </th>
            <th>
              Khassida Singer
            </th>

            <th>Action</th>
<!--            <th>Action</th>-->
            </thead>
            <tbody>
            <tr *ngFor="let user of khassidaSongs">
              <td>{{user.id}}</td>
              <td>{{user.khassida_song_name}}</td>
              <td>
                <audio [src]="user.khassidaSongFileInfo" controls
                ></audio>
              </td>
              <td>
                {{user.khassida_singer_id}}
              </td>

              <td>
                <a class="btn btn-danger" (click)="deleteKhassidaSong(user.id);">Delete</a>
              </td>
<!--              <td>-->
<!--                <a class="btn btn-primary" (click)="editKhassidaSinger(user.id);">Edit</a>-->
<!--              </td>-->
            </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>
